.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  background: none;
}

* {
  text-shadow: none !important;
}

#ignite .toc ol li {
  list-style-type: disc;
}

.graphViz svg {
  border: 1px dashed gray;
}
